body {
  overflow-x: hidden;
  overflow-y: hidden;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  width: calc(100% - 80px);
  height: 100%;
  position: fixed;
  top: 45px;
  bottom: 50;
  left: 80px;
}

.Topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0%;
  height: 45px;
  position: absolute;
  z-index: 2;

  -webkit-app-region: drag;
  background: #f8f8f8;
}

svg {
  font: bold 26px Century Gothic, Arial;
  width: 100%;
  height: 100px;
  z-index: 3;
  filter: drop-shadow(3px 3px 3px rgba(161, 160, 160, 0.25));
}

text {
  /* fill:  #de8356b8; */
  fill: #ffa439;

  border: 2px solid #801111;
  text-shadow: 4px 8px 20px rgba(40, 38, 38, 0.25);
  stroke: rgb(184, 22, 22);
  stroke-width: 1.1px;
  stroke-linejoin: bevel;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  -webkit-app-region: drag;

  width: 80px;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 2;

  background: #ffffff;
  /* background: transparent; */
  /* border-right: 0.2px solid #abababba; */
  filter: drop-shadow(1px 1px 0.5px rgba(103, 100, 100, 0.25));
}

#menuitem1 {
  width: 30px;
  height: 50px;
  padding-top: 50pt;
}

#menuitem2 {
  width: 30px;
  height: 50px;
  padding-top: 30pt;
}

.textBox {
  width: 300px;
  height: 300px;
  filter: drop-shadow(3px 3px 3px rgba(161, 160, 160, 0.25));
}

.headContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;

  top: 20px;
  color: white;
}

.mainContent {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
}

.footerContent {
  position: fixed;
  align-self: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 80px;
  color: white;
}

/* disable selection */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
input,
button,
textarea,
:focus {
  outline: none;
}

/* disable image and anchor dragging */
a:not([draggable='true']),
img:not([draggable='true']) {
  -webkit-user-drag: none;
  user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
  -webkit-user-drag: auto;
  user-drag: auto;
}
