/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: red;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 45px;
  bottom: 50;
}

.Topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0%;
  height: 45px;
  position: absolute;
  z-index: 2;

  -webkit-app-region: drag;
  background: transparent;
}

svg {
  font: bold 26px Century Gothic, Arial;
  width: 100%;
  height: 100px;
  z-index: 3;
  filter: drop-shadow(3px 3px 3px rgba(161, 160, 160, 0.25));
}

text {
  /* fill:  #de8356b8; */
  fill: #f0f0ec;
  stroke: rgb(40, 40, 40);
  stroke-width: 0.5px;
  stroke-linejoin: bevel;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  -webkit-app-region: drag;

  width: 80px;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 2;

  background: #faf9f9;
  /* background: transparent; */
  border-right: 0.2px solid #abababba;
  /* filter: drop-shadow(0.5px 0px 1px rgba(31, 31, 31, 0.25)); */
}

#clipboard {
  width: 30px;
  height: 50px;
  padding-top: 50pt;
}

#settings {
  width: 30px;
  height: 50px;
  padding-top: 30pt;
}

.clipBox {
  width: 180px;
  height: 180px;
  filter: drop-shadow(3px 3px 3px rgba(161, 160, 160, 0.25));
}

/* .headContent {
  width: 100%;
  height: 30px;
  align-self:flex-start;
  background-color: black;
} */

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  width: 80%;
  height: 100%;
  bottom: 30;
  right: 0%;

  background: #f8f8f8;
}

.headContent {
  width: 100%;
  height: 20%;
  align-self: flex-start;
  top: 20;
  background-color: black;
}

.mainContent {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  background-color: red;
}

.footerContent {
  position: fixed;
  align-self: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: blue;
}

/* disable selection */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
input,
button,
textarea,
:focus {
  outline: none;
}

/* disable image and anchor dragging */
a:not([draggable='true']),
img:not([draggable='true']) {
  -webkit-user-drag: none;
  user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
  -webkit-user-drag: auto;
  user-drag: auto;
}
